.text{
    height: 32px;
	width: 200px;
	border-radius: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border: 1px solid #e5e5e5;
	padding: 0 32px 0 16px;

	&:hover {
		cursor: pointer;
	}
}
.cell-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.rdt_TableCol div:first-child {
    white-space: normal !important;
    overflow: visible !important;
}
input{
    margin: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100px;
}